<a href="https://colab.research.google.com/github/rrrrrrrrrrffrg/pyton/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Подсчет частоты слов: Напишите функцию, которая принимает строку и возвращает словарь, где ключи — это слова, а значения — их частота в строке.

In [1]:
def word_frequency(text):
    words = text.lower().split()
    frequency = {}
    for word in words:
        if word in frequency:
            frequency[word] += 1
        else:
            frequency[word] = 1

    return frequency

# Пример использования
input_text = "Hello world! This is a test. Hello again, world!"
result = word_frequency(input_text)
print(result)

{'hello': 2, 'world!': 2, 'this': 1, 'is': 1, 'a': 1, 'test.': 1, 'again,': 1}

Инвертирование словаря: Напишите функцию, которая принимает словарь и возвращает новый словарь, где ключи и значения поменяны местами. Если значения не уникальны, объедините ключи в список.

In [2]:
def invert_dictionary(original_dict):
    inverted_dict = {}

    for key, value in original_dict.items():
        if value in inverted_dict:
            if isinstance(inverted_dict[value], list):
                inverted_dict[value].append(key)
            else:
                inverted_dict[value] = [inverted_dict[value], key]
        else:
            inverted_dict[value] = key

    return inverted_dict

# Пример использования
original_dict = {
    'a': 1,
    'b': 2,
    'c': 1,
    'd': 3
}

inverted = invert_dictionary(original_dict)
print(inverted)

{1: ['a', 'c'], 2: 'b', 3: 'd'}

Слияние словарей: Напишите функцию, которая принимает два словаря и возвращает новый словарь, содержащий все ключи из обоих словарей. Если ключи совпадают, значения должны быть суммированы.

In [3]:
def merge_dicts(dict1, dict2):
    merged_dict = dict1.copy()

    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value

    return merged_dict

# Пример использования
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}

result = merge_dicts(dict1, dict2)
print(result)

{'a': 1, 'b': 5, 'c': 7, 'd': 5}

Фильтрация по значению: Напишите функцию, которая принимает словарь и пороговое значение, и возвращает новый словарь, содержащий только те пары ключ-значение, где значение больше порогового.

In [5]:
def filter_by_value(input_dict, threshold):
    filtered_dict = {key: value for key, value in input_dict.items() if value > threshold}
    return filtered_dict

# Пример использования
if __name__ == "__main__":
    sample_dict = {
        'a': 5,
        'b': 3,
        'c': 8,
        'd': 1
    }
    threshold_value = 4
    result = filter_by_value(sample_dict, threshold_value)
    print("Отфильтрованный словарь:", result)

Отфильтрованный словарь: {'a': 5, 'c': 8}

Максимальное значение: Напишите функцию, которая находит ключ с максимальным значением в словаре.

In [6]:
def max_key(dictionary):
    if not dictionary:
        return None
    max_key = max(dictionary, key=dictionary.get)
    return max_key

# Пример использования
sample_dict = {'a': 10, 'b': 20, 'c': 15}
result = max_key(sample_dict)
print(f'Ключ с максимальным значением: {result}')

Ключ с максимальным значением: b

Минимальное значение: Напишите функцию, которая находит ключ с минимальным значением в словаре.

In [7]:
def find_key_with_min_value(input_dict):
    if not input_dict:
        return None

    min_key = min(input_dict, key=input_dict.get)
    return min_key

# Пример использования
sample_dict = {
    'a': 10,
    'b': 4,
    'c': 7,
    'd': 2
}

min_key = find_key_with_min_value(sample_dict)
print(f'Ключ с минимальным значением: {min_key} (значение: {sample_dict[min_key]})')

Ключ с минимальным значением: d (значение: 2)

Удаление ключей: Напишите функцию, которая принимает словарь и список ключей, и удаляет из словаря все указанные ключи.

In [8]:
def remove_keys(dictionary, keys_to_remove):

    return {key: value for key, value in dictionary.items() if key not in keys_to_remove}

# Пример использования
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
keys_to_remove = ['b', 'd']

new_dict = remove_keys(my_dict, keys_to_remove)
print(new_dict)

{'a': 1, 'c': 3}

Группировка по длине ключей: Напишите функцию, которая группирует ключи словаря по их длине и возвращает словарь, где ключи — это длины, а значения — списки ключей соответствующей длины.

In [9]:
def group_keys_by_length(input_dict):
    grouped = {}
    for key in input_dict.keys():
        key_length = len(key)
        if key_length not in grouped:
            grouped[key_length] = []
        grouped[key_length].append(key)
    return grouped

# Пример использования
example_dict = {
    'apple': 1,
    'banana': 2,
    'kiwi': 3,
    'pear': 4,
    'grape': 5,
    'fig': 6
}

result = group_keys_by_length(example_dict)
print(result)

{5: ['apple', 'grape'], 6: ['banana'], 4: ['kiwi', 'pear'], 3: ['fig']}

Поиск ключей по значению: Напишите функцию, которая принимает словарь и значение, и возвращает список всех ключей, связанных с этим значением.

In [10]:
def find_keys_by_value(input_dict, target_value):
    keys = [key for key, value in input_dict.items() if value == target_value]
    return keys

# Пример использования
example_dict = {
    'a': 1,
    'b': 2,
    'c': 1,
    'd': 3
}

value_to_find = 1
result_keys = find_keys_by_value(example_dict, value_to_find)
print(f"Ключи, соответствующие значению {value_to_find}: {result_keys}")

Ключи, соответствующие значению 1: ['a', 'c']

Объединение значений: Напишите функцию, которая принимает два словаря и объединяет их значения в списки для каждого ключа.

In [11]:
def merge_dict_values(dict1, dict2):
    merged_dict = {}
    all_keys = set(dict1.keys()).union(set(dict2.keys()))

    for key in all_keys:
        values = []
        if key in dict1:
            values.append(dict1[key])
        if key in dict2:
            values.append(dict2[key])
        merged_dict[key] = values

    return merged_dict

# Пример использования
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}

result = merge_dict_values(dict1, dict2)
print(result)

{'d': [5], 'a': [1], 'c': [3, 4], 'b': [2, 3]}

Создание множества из списка: Напишите функцию, которая принимает список и возвращает множество, содержащее уникальные элементы списка.

In [12]:
def create_set_from_list(input_list):
    unique_set = set(input_list)
    return unique_set

# Пример использования
example_list = [1, 2, 2, 3, 4, 4, 5]
result_set = create_set_from_list(example_list)
print(result_set)

{1, 2, 3, 4, 5}

Удаление дубликатов: Напишите функцию, которая удаляет дубликаты из списка с помощью множества и возвращает новый список.

In [13]:
def remove_duplicates(input_list):
    unique_elements = set(input_list)
    return list(unique_elements)

# Пример использования
my_list = [1, 2, 2, 3, 4, 4, 5]
result = remove_duplicates(my_list)
print(result)

[1, 2, 3, 4, 5]

Пересечение множеств: Напишите функцию, которая принимает два множества и возвращает их пересечение.

In [14]:
def intersection(set1, set2):
    return set1 & set2

# Пример использования
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
result = intersection(set_a, set_b)
print(result)

{3, 4}

Объединение множеств: Напишите функцию, которая принимает два множества и возвращает их объединение.

In [15]:
def union(set1, set2):
    return set1 | set2

# Пример использования
set_a = {1, 2, 3}
set_b = {3, 4, 5}
result = union(set_a, set_b)
print(result)

{1, 2, 3, 4, 5}

Разность множеств: Напишите функцию, которая принимает два множества и возвращает разность первого множества и второго.

In [16]:
def difference_sets(set1, set2):
    return set1 - set2

# Пример использования
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
result = difference_sets(set_a, set_b)
print("Разность множеств:", result)

Разность множеств: {1, 2}

Симметрическая разность: Напишите функцию, которая принимает два множества и возвращает их симметрическую разность.

In [ ]:
def symmetric_difference_sets(set1, set2):
    return set1.symmetric_difference(set2)

# Пример использования
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
result = symmetric_difference_sets(set_a, set_b)
print("Симметрическая разность:", result)

Проверка подмножества: Напишите функцию, которая проверяет, является ли одно множество подмножеством другого.

In [17]:
def is_subset(set1, set2):
    return set1.issubset(set2)

# Пример использования
set_a = {1, 2}
set_b = {1, 2, 3, 4}
result = is_subset(set_a, set_b)
print("Является ли первое множество подмножеством второго?", result)

Является ли первое множество подмножеством второго? True

Проверка надмножества: Напишите функцию, которая проверяет, является ли одно множество надмножеством другого.

In [18]:
def is_superset(set1, set2):
    return set1.issuperset(set2)

# Пример использования
set_a = {1, 2, 3, 4, 5}
set_b = {2, 3}
print(is_superset(set_a, set_b))

True

Добавление элементов: Напишите функцию, которая добавляет все элементы из списка в множество.

In [19]:
def add_elements_to_set(original_set, elements):
    original_set.update(elements)
    return original_set

# Пример использования
my_set = {1, 2, 3}
elements_to_add = [4, 5, 6]
print(add_elements_to_set(my_set, elements_to_add))

{1, 2, 3, 4, 5, 6}

Удаление элементов: Напишите функцию, которая удаляет из множества все элементы, присутствующие в списке.

In [20]:
def remove_elements_from_set(original_set, elements):
    original_set.difference_update(elements)
    return original_set

# Пример использования
my_set = {1, 2, 3, 4, 5}
elements_to_remove = [2, 4]
print(remove_elements_from_set(my_set, elements_to_remove))

{1, 3, 5}

Создание кортежа из списка: Напишите функцию, которая принимает список и возвращает кортеж, содержащий те же элементы.

In [21]:
def list_to_tuple(lst):
    return tuple(lst)

# Пример использования
my_list = [1, 2, 3, 4, 5]
result_tuple = list_to_tuple(my_list)
print("Кортеж из списка:", result_tuple)

Кортеж из списка: (1, 2, 3, 4, 5)

Объединение кортежей: Напишите функцию, которая принимает два кортежа и возвращает их объединение.

In [22]:
def merge_tuples(tuple1, tuple2):
    return tuple1 + tuple2

# Пример использования
tuple_a = (1, 2, 3)
tuple_b = (4, 5, 6)
merged_tuple = merge_tuples(tuple_a, tuple_b)
print("Объединенный кортеж:", merged_tuple)

Объединенный кортеж: (1, 2, 3, 4, 5, 6)

Проверка на наличие элемента: Напишите функцию, которая проверяет, содержится ли заданный элемент в кортеже.

In [23]:
def contains_element(tup, element):
    return element in tup

# Пример использования
my_tuple = (1, 2, 3, 4, 5)
is_present = contains_element(my_tuple, 3)
print("Элемент 3 присутствует в кортеже:", is_present)

Элемент 3 присутствует в кортеже: True

Индекс первого вхождения: Напишите функцию, которая находит индекс первого вхождения заданного элемента в кортеже.

In [24]:
def index_of_first_occurrence(tup, element):
    try:
        return tup.index(element)
    except ValueError:
        return -1

# Пример использования
my_tuple = (1, 2, 3, 2, 4)
index = index_of_first_occurrence(my_tuple, 2)
print("Индекс первого вхождения элемента 2:", index)

Индекс первого вхождения элемента 2: 1

Количество вхождений элемента: Напишите функцию, которая подсчитывает, сколько раз заданный элемент встречается в кортеже.

In [25]:
def count_occurrences(tup, element):
    return tup.count(element)

# Пример использования
my_tuple = (1, 2, 3, 2, 4, 2)
count = count_occurrences(my_tuple, 2)
print("Количество вхождений элемента 2:", count)

Количество вхождений элемента 2: 3

Максимальный элемент: Напишите функцию, которая находит максимальный элемент в кортеже.

In [26]:
def max_element(t):
    if not t:
        return None
    return max(t)

# Пример использования
my_tuple = (1, 3, 5, 2, 4)
print(max_element(my_tuple))

5

Минимальный элемент: Напишите функцию, которая находит минимальный элемент в кортеже.

In [27]:
def min_element(t):
    if not t:
        return None
    return min(t)

# Пример использования
my_tuple = (1, 3, 5, 2, 4)
print(min_element(my_tuple))

1

Сортировка кортежа: Напишите функцию, которая возвращает отсортированный список на основе элементов кортежа.

In [ ]:
def sort_tuple(t):
    return sorted(t)

# Пример использования
my_tuple = (5, 2, 3, 1, 4)
print(sort_tuple(my_tuple))

Разбиение кортежа: Напишите функцию, которая разбивает кортеж на две части: первую половину и вторую половину.

In [28]:
def split_tuple(t):
    mid = len(t) // 2
    return t[:mid], t[mid:]

# Пример использования
my_tuple = (1, 2, 3, 4, 5, 6)
first_half, second_half = split_tuple(my_tuple)
print(first_half)
print(second_half)

(1, 2, 3)
(4, 5, 6)

Обратный порядок: Напишите функцию, которая возвращает кортеж с элементами в обратном порядке.

In [29]:
def reverse_tuple(t):
   return t[::-1]

# Пример использования
my_tuple = (1, 2, 3, 4, 5)
print(reverse_tuple(my_tuple))

(5, 4, 3, 2, 1)

Найти все элементы массива из n элементов, кратные 3 или 5. Сколько их?

In [33]:
def count_multiples_of_3_or_5(arr):
    multiples = [x for x in arr if x % 3 == 0 or x % 5 == 0]
    return multiples, len(multiples)

# Пример использования
array = [1, 3, 5, 7, 9, 10, 12, 15, 20]
result, count = count_multiples_of_3_or_5(array)
print("Элементы, кратные 3 или 5:", result)
print("Количество таких элементов:", count)

Элементы, кратные 3 или 5: [3, 5, 9, 10, 12, 15, 20]
Количество таких элементов: 7

Дан массив A размера N и целое число K (1 <= K <= N). Вывести элементы массива с порядковыми номерами, кратными K:
AK, A2·K, A3·K, … .
Условный оператор не использовать.

In [34]:
def print_elements_at_k_multiples(arr, k):
    result = arr[k-1::k]
    return result

# Пример использования
array = [10, 20, 30, 40, 50, 60, 70, 80]
k = 3
result = print_elements_at_k_multiples(array, k)
print("Элементы с порядковыми номерами, кратными K:", result)

Элементы с порядковыми номерами, кратными K: [30, 60]

Дан массив размера N. Осуществить циклический сдвиг элементов массива вправо на одну позицию (при этом A1 перейдет в A2, A2 — в A3, …, AN — в A1).

In [35]:
def cyclic_shift_right(arr):
    if len(arr) == 0:
        return arr
    return [arr[-1]] + arr[:-1]

# Пример использования
array = [1, 2, 3, 4, 5]
result = cyclic_shift_right(array)
print("Массив после циклического сдвига вправо:", result)

Массив после циклического сдвига вправо: [5, 1, 2, 3, 4]

Дан целочисленный двумерный массив, размерности n х m. Вывести его элементы, индексы которых являются степенями двойки (1, 2, 4, 8, 16, ...).

In [36]:
def print_elements_at_power_of_two_indices(matrix):
    rows = len(matrix)
    cols = len(matrix[0]) if rows > 0 else 0
    power_of_two_indices = [2**i for i in range(0, max(rows, cols).bit_length())]

    result = []
    for i in power_of_two_indices:
        if i < rows:
            for j in power_of_two_indices:
                if j < cols:
                    result.append(matrix[i][j])

    return result

# Пример использования
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]
result = print_elements_at_power_of_two_indices(matrix)
print("Элементы с индексами, являющимися степенями двойки:", result)

Элементы с индексами, являющимися степенями двойки: [6, 7, 10, 11]